# --- For-Bot-Working -------- #
pyrofork==2.3.48
TgCrypto
pyroblack==2.5.0
pyrogram==2.0.106
wpyrogram==2.0.148
pyromod==1.5
# --- For-Database ----------- #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
# --- For-Timer -------------- #
humanize
